<!-- INDICE  -->
<p style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:35px;border-radius:10px 10px 0 0;'>Indice:</p>

<!-- Cuadro darkcyan de fondo -->
<div style='background-color:#008b8b;padding:15px;margin-top:-35px;border-radius:0 0 10px 10px'>

<!-- Titulo de Día 1 -->
<p style='font-size:25px;font-weight:700;color:#2efbcd'> Day 1 | Handling Missing Values </p>

<ol> <!-- Lista de temas -->
    <a href='#tema1'><li style='font-weight:500;font-size:18px;color:#4a235a;padding-bottom:8px;'>Take a first look at the data</li></a>
    <a href='#tema2'><li style='font-weight:500;font-size:18px;color:#4a235a;padding-bottom:8px;'>See how many missing data points we have</li></a>
    <a href='#tema3'><li style='font-weight:500;font-size:18px;color:#4a235a;padding-bottom:8px;'>Figure out why the data is missing</li></a>
    <a href='#tema4'><li style='font-weight:500;font-size:18px;color:#4a235a;padding-bottom:8px;'>Drop missing values</li></a>
    <a href='#tema5'><li style='font-weight:500;font-size:18px;color:#4a235a;padding-bottom:8px;'>Filling in missing values</li></a>
</ol>

<!-- FUENTES -->
<p style='font-weight:700;margin-bottom:5px;font-size:20px;color:#2efbcd'>Fuentes

<ul> <!-- LISTA DE FUENTES -->
    <a href='https://www.kaggle.com/code/rtatman/data-cleaning-challenge-handling-missing-values' style='color:#4a235a;font-weight:700;'><li>Data Cleaning Challenge</li></a>

---
<p id='' style='padding:15px;background-color:#4a235a;text-align:center;font-size:30px;font-weight:800;color:#2efbcd;'> Day 1: Handling Missing Values

# <p id='tema1' style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:25px;border-radius:15px;padding:10px;'>Take a first look at the data</p>

In [1]:
# Importamos las librerias
import pandas as pd
import numpy as np

In [2]:
# Cargamos el Dataset
nfl_data = pd.read_csv('../datasets/NFL Play by Play 2009-2017 (v4).csv')

sf_permits = pd.read_csv('../datasets/Building_Permits.csv')

# Colocamos una semilla para que los resultados sean siempre iguales
np.random.seed(0)

C:\Users\Frank Ibarra\AppData\Local\Temp\ipykernel_85688\4098448819.py:2: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv('../datasets/NFL Play by Play 2009-2017 (v4).csv')
C:\Users\Frank Ibarra\AppData\Local\Temp\ipykernel_85688\4098448819.py:4: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  sf_permits = pd.read_csv('../datasets/Building_Permits.csv')

In [7]:
# [sample], a diferencia de [head], muestra valores aleatorios del dataset
nfl_data.sample(3)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
387796,2017-11-12,2017111209,14,4,NaN,13:48,14,828.0,0.0,ATL,...,NaN,0.939641,0.060359,0.939641,0.060359,0.060359,0.000000,NaN,NaN,2017
309517,2015-12-20,2015122003,21,4,3.0,06:57,7,417.0,45.0,ATL,...,0.46682,0.375032,0.624968,0.249407,0.750593,0.624968,0.125625,0.096967,0.028658,2015
292472,2015-11-08,2015110801,21,3,1.0,02:55,3,1075.0,8.0,GB,...,NaN,0.918073,0.081927,0.909661,0.090339,0.081927,0.008412,NaN,NaN,2015

# <p id='tema2' style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:25px;border-radius:15px;padding:10px;'>See how many missing data points we have</p>

In [11]:
nfl_data.isnull().sum().head(10)

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

Para saber el total de los datos puedes utilizar:

Utilizando la librería de <b style='color:#ffccdd'>Numpy</b>
- `np.prod([DataFrame].shape)`

Utilizando únicamente <b style='color:#2efbcd'>Pandas</b>
- `[DataFrame].size`

Por ejemplo:

In [28]:
print('Numpy:',np.prod(nfl_data.size))

print('Pandas:',nfl_data.size)

Numpy: 41584176
Pandas: 41584176

Porcentaje de valores nulos en todo el DataFrame

In [41]:
# Sumamos todos los valores nulos que existan en el DataFrame
missing_values = nfl_data.isnull().sum().sum()

# Dividimos y multiplicamos por cien para conocer el porcentaje
print(f'Porcentaje de valores NULOS: {((missing_values / nfl_data.size) * 100).round(2)}')

Porcentaje de valores NULOS: 27.67

# <p id='tema3' style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:25px;border-radius:15px;padding:10px;'>Figure out why the data is missing</p>

In [51]:
missing_values_col = nfl_data.isnull().sum()
missing_values_col[:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

### Your turn!

- Look at the columns `Street Number Suffix` and `Zipcode` from the `sf_permits` dataset.

Both of these contain missing values. Which, if either, of these are missing because they don't exist? Which, if either, are missing because they weren't recorder?

In [78]:
sf_permits[['Street Number Suffix','Zipcode']].sample(5)

       Street Number Suffix  Zipcode
162287                  NaN  94110.0
19741                   NaN  94116.0
109519                  NaN  94124.0
16678                   NaN  94110.0
2919                    NaN  94131.0

In [80]:
sf_permits['Street Number Suffix'].value_counts()

Street Number Suffix
A    1501
B     291
V     228
C      56
E      28
F      24
G      12
D      11
K      11
H      11
R      10
L      10
J       9
I       7
P       3
N       2
0       1
½       1
Name: count, dtype: int64

In [75]:
# Cantidad total de datos | STREET NUMBER SUFFIX
sf_permits['Street Number Suffix'].size

198900

In [70]:
# Cantidad de valores existentes | STREET NUMBER SUFFIX
sf_permits['Street Number Suffix'].size - sf_permits['Street Number Suffix'].isnull().sum()

np.int64(2216)

In [65]:
# Porcentaje de valores nulos | STREET NUMBER SUFFIX
(sf_permits['Street Number Suffix'].isnull().sum() / sf_permits['Street Number Suffix'].size) * 100

np.float64(98.88587229763701)

In [74]:
# Porcentaje de valores nulos | ZIPCODE
(sf_permits['Zipcode'].isnull().sum() / sf_permits['Zipcode'].size) * 100

np.float64(0.8627450980392156)

En mi criterio, los valores nulos son porque:
- `Zipcode` No se registraron
- `Street Number Suffix` Faltan hasta el 98% de los datos, por lo que será mejor eliminar esa columna

# <p id='tema4' style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:25px;border-radius:15px;padding:10px;'>Drop missing values</p>

# <p id='tema5' style='text-align:center;background-color:#f4c272;color:#008b8b;font-weight:800;font-size:25px;border-radius:15px;padding:10px;'>Filling in missing values</p>